{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSVファイル編集</title>
    <link rel="stylesheet" href="{% static 'common.css' %}" >
  </head>
    <body>
    <h1>楽天クレジットカード分析</h1>

    <div class="form-group">
        <form method="POST" class="form" enctype="multipart/form-data">  
          {% csrf_token %}  
          <div class="file-upload-wrapper">
            <p>CSVファイルを選択してください。<br \>
              {{ form.uploaded_file }}
            </p>   
          </div> 
          <p>以下のボタンを押すと、編集後のcsvファイルが出力されます。</p>
          <button type="submit" class="save btn btn-outline-primary">Upload and Download</button>  
        </form> 

      </div>
    </body>
  </html>